<div class="container" id="neworder" >

<h1>Quote Details</h1>



<hr>

<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

		<div class="row">

			<div class="col-lg-6 col-md-6" id="cr-left-side">
				<div class="field" >
					<%= f.label 'Customer Reference' %>
					<%= f.text_field :customer_ref, required: true, class: "form-control"  %>
				</div>
			</div>

			<div class="col-lg-6 col-md-6">
				<div class="field" >
					<%= f.label 'Schedule collection time' %>
					  <%= f.text_field :scheduled_date, :value => Time.now + 2.5.hours, data: {behaviour: "flatpickr"}, class: "form-control" %>
				</div>
			</div>
				



		</div>
	

	

		<hr>



		
	
		<div class="row">

			<div class="col-lg-6 col-md-6" id="left-side">

				<div class="field" >
					<%= f.label 'From Address', class: "style=" %>
					<%= f.text_field :from_address, required: true, id: :from_autocomplete_address, class: "form-control"  %>
					 <p></p>
					 <div class="col justify-content-md-center">
					
					  <a style="font-size: 12px"><span style="color:#F167B0;font-weight:bold">Need help? </span>Just <span style="font-weight:bold;text-decoration: underline;">start typing</span> to <span style="font-weight:bold; text-decoration: underline;">search</span> and <span style="font-weight:bold; text-decoration: underline;">select</span> a geocoded address...</a>
					</div>
				</div>

				<div class="field" >
					<%= f.label 'Business/Complex Name' %>
					<%= f.text_field :from_complex, id:  :from_name, class: "form-control"  %>
				</div>

				<div class="field" >
					<%= f.label 'Unit/Floor' %>
					<%= f.number_field :from_unit_no, :value => 0 , class: "form-control"  %>
				</div>

				<hr>

				<div class="field" >
					<%= f.label 'Name' %>
					<%= f.text_field :from_name, required: true, class: "form-control"  %>
				</div>

				<div class="field" >
					<%= f.label 'Phone' %>
					<%= f.text_field :from_phone, required: true, class: "form-control"  %>
				</div>

				<div class="field" >
					<%= f.label 'Email' %>
					<%= f.text_field :from_email, required: true, class: "form-control"  %>
				</div>
				
				<hr>

				<div class="field" >
					<%= f.label 'Special Instructions' %>
					<%= f.text_field :from_special_instructions, class: "form-control"  %>
				</div>

					<%= f.hidden_field :from_street_number, id: :street_number, :value => 0, class: "form-control" %>

					<%= f.hidden_field :from_route, id: :route, class: "form-control" %>

					<%= f.hidden_field :from_sublocality, id: :sublocality, class: "form-control" %>

					<%= f.hidden_field :from_locality, id: :locality, class: "form-control" %>

					<%= f.hidden_field :from_administrative_area_level_1, id: :administrative_area_level_1, class: "form-control" %>

					<%= f.hidden_field :from_postal_code, id: :postal_code, class: "form-control" %>

					<%= f.hidden_field :from_country, id: :country, class: "form-control" %>

					<%= f.hidden_field :from_latitude, id: :from_latitude, class: "form-control" %>

					<%= f.hidden_field :from_longitude, id: :from_longitude, class: "form-control" %>
			
					<%= f.hidden_field :from_faddress, id: :from_faddress, class: "form-control" %>

			</div>

			

			<div class="col-lg-6 col-md-6" id="right-side">

				<div class="field">
					<%= f.label 'To Address' %>
					<%= f.text_field :to_address, :required => true, id: :to_autocomplete_address, class: "form-control" %>
					 <p></p>
					 <div class="col justify-content-md-center">
					
					  <a style="font-size: 12px"><span style="color:#F167B0;font-weight:bold">TIP: </span><span style="font-weight:bold; text-decoration: underline;">Do not </span> <span style="font-weight:bold">copy and paste addresses</span> - Haastig is powered by Google search!</a>
					</div>
				</div>

				<div class="field" >
					<%= f.label 'Business/Complex Name' %>
					<%= f.text_field :to_complex, id:  :to_name, class: "form-control"  %>
				</div>

				<div class="field" >
					<%= f.label 'Unit/Floor' %>
					<%= f.number_field :to_unit_no, :value => 0, class: "form-control"  %>
				</div>

				<hr>

				<div class="field" >
					<%= f.label 'Name' %>
					<%= f.text_field :to_name, :required => true, class: "form-control"  %>
				</div>

				<div class="field" >
					<%= f.label 'Phone' %>
					<%= f.text_field :to_phone, :required => true, class: "form-control"  %>
				</div>

				<div class="field" >
					<%= f.label 'Email' %>
					<%= f.text_field :to_email, :required => true, class: "form-control"  %>
				</div>

				<hr>

				<div class="field" >
					<%= f.label 'Special Instructions' %>
					<%= f.text_field :to_special_instructions, class: "form-control"  %>
				</div>

					<%= f.hidden_field :to_street_number, id:  :to_street_number, :value => 0, class: "form-control" %>

					<%= f.hidden_field :to_route, id: :to_route, class: "form-control" %>

					<%= f.hidden_field :to_sublocality, id: :to_sublocality, class: "form-control" %>

					<%= f.hidden_field :to_locality, id: :to_locality, class: "form-control" %>

					<%= f.hidden_field :to_administrative_area_level_1, id: :to_administrative_area_level_1, class: "form-control" %>

					<%= f.hidden_field :to_postal_code, id: :to_postal_code, class: "form-control" %>

					<%= f.hidden_field :to_country, id: :to_country, class: "form-control" %>

					<%= f.hidden_field :to_latitude, id: :to_latitude, class: "form-control" %>

					<%= f.hidden_field :to_longitude, id: :to_longitude, class: "form-control" %>

					<%= f.hidden_field :to_faddress, id: :to_faddress, class: "form-control" %>
	
			</div>

		</div>

			<div> <br> </div>
   
			<div class="btn-grp mx-auto ">
				<div class="form-actions">
					<%= f.button :submit, "Next" %>
				</div>
			</div>
<% end %>

<hr>
<%= link_to 'Back', orders_path, data: { turbolinks: false }, :class => "btn" %>
<p>&nbsp;</p>
</div>