<!DOCTYPE html>
<html>
  <head>

  	<!-- Required meta tags -->

<meta charset="UTF-8"> <meta name=viewport content="width=device-width, initial-scale=1">

   	<title>Haastig | Go Go Go!</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV["GOOGLE_API_SERVER_KEY"]}" %>

<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

<%= favicon_link_tag asset_path('rabbit-icon-180x180.png') %>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149266688-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149266688-2');
</script>

 
<!-- <meta name="turbolinks-visit-control" content="reload"> data-turbolinks="false" -->

  </head>

  <body>
    <%= render 'layouts/navbar2' %>
    
    
    
    <%= yield %>


  </body>
</html>


